<html>
    <head> <title>BoredAtTheButt</title>
        <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
        crossorigin="anonymous">

        <style>
            .columbia-blue{
                background-color: #B9D9EB;
            }
            .large{
                font-size: 8vh;
            }
            .center{
                margin: auto;
            }
            /* add section for denizens of butler/map of butler/info about butler/tricks/tunz/roof etc. */
            .scale-butler{
                width: 70%;
                height: auto;
            }
            .bold{
                font-weight: bold;
            }
            .cursive{
                font-family: cursive;
                font-style: oblique;
            }
            .semi-large-font{
                font-size: 4vh;
            }
            .semi-semi-large-font{
                font-size: 3vh;
            }
            .margin-left{
                margin-left: 10%;
            }
        </style>
    </head>


    <body>
        <div class = "container fluid">
            <div class = "row columbia-blue">
                <span class = "large center">Bored@TheButt</span>
            </div> <br>
            <div class = "row columbia-blue center">
                <div class = "col-md-2 center">
                    <span><a href = /users/register>Sign Up</a></span>
                </div>
                <div class = "col-md-2 center">
                    <span><a href = /users/login>Login </a></span>   
                </div>
                <div class = "col-md-2 center">
                    <span><a href = "posts">View Posts </a></span>     
                </div>
                <div class = "col-md-2 center">
                    <span>Butler Secrets</span>     
                </div>
                <div class = "col-md-2 center">
                    <span>Denizens of Butler</span>     
                </div>
                <div class = "col-md-2 center">
                    <span>Info</span>           
                </div>
            </div>
            <br>
            <div class = "row">
                <div class = "col-md-6">
                    <img class = "scale-butler center" src = "https://i.redd.it/lqcbyi2itqq31.jpg">
                </div>
                <div class = "col-md-6">
                    <span class = "bold">To The Reader:</span> <br>
                    To an experienced Butler denizen, there's something inherently comforting
                    about the monstrosity us Columbia students refer to by one of a variety
                    of names: Butler, Butt, The Butt, El Butlero, Prezbo's Second Mansion,
                    Ivy League Library, ... the list goes on and on. <br> <br> <br> <br>
                    But, regardless of what you think of <i>Butler</i>, it is undeniable
                    that the library brings a diverse group of students together. <br>
                    To classify just a few of these denizens: <br>
                    1. The Ref Grinders <br>
                    2. The Stacks Chatters <br>
                    3. The 6th Floor Silencers <br>
                    4. That One Kid Who Knows Everything About The Maze Comprising Butler <br>
                    5. The Distracted Ones <br> <br> <br>
                    I suppose this website is catered to just about every single type of person That
                    you'll find in Butler. <br>
                    From the student exploring the various Butler secrets and maps on the site
                    to the dude next to you who keeps posting garbage on the feed, I hope that 
                    every Butler Denizen can derive some form of pleasure from the multitude
                    of activities that await on this site. <br> <br> <br>

                    <span class = "cursive bold semi-large-font">Sincerely,</span> <br>
                    <span class = "margin-left semi-semi-large-font">A seasoned Butler Denizen</span>
                </div>
            </div>
            <br>
            <br>
            <br>
            <br>

    </body>

</html>
