extends layout

block content
    h1 Login to Bored@TheButt
    form(method='POST', action = '/users/login')  
        #form-group
            label Username:
            input.form-control(name = 'username', type = 'text')

        #form-group
            label Password:
            input.form-control(name = 'password', type = 'password')
            
        input.btn.btn-primary(type = "submit", value = "Submit")
    img(src='https://i.redd.it/lqcbyi2itqq31.jpg' alt='login' style='width:30%; height:auto;')