<html>
    <head>
    <link rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
    crossorigin="anonymous">
    </head>

    <style>
    .columbia-blue{
        background-color: #B9D9EB;
    }
    .large-font{
        font-size: xx-large;
    }
    .resize{
        width: 70%;
        height: auto;
    }

    </style>

    <body>
        <div class = "container">
        <div class = "row columbia-blue">
            <span class = "large-font">Bored@TheButt</span>

        </div>
        <div class = "row">
            <div class = "col-md-6">
                <img class = "resize" src = "https://i.redd.it/lqcbyi2itqq31.jpg">
            </div>
            <div class = "col-md-6">
                <span class = "large-font">You must be logged in to view posts!</span>
                <div class = "row">
                <div class = "col-md-4">
                    <a href = "/users/login">Login</a>
                </div>
                <div class = "col-md-4">
                    <a href = "/users/register">Sign Up!</a> 
                </div>
                <div class = "col-md-4">
                    <a href = "/">Home</a>      
                </div>
            </div>
            </div>
        </div>

        </div>
    </body>
</html>