<html>
    <head>
        <title>Tunnels</title>
        <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
        crossorigin="anonymous">

    </head>

    <style>
        .bold{
            font-weight: bold;
        }
        .large{
            font-size: 8vh;
        }
        .center{
            margin: auto;
        }
        .columbia-blue{
                background-color: #B9D9EB;
        }
        .mildly-large{
            font-size: 5vh
        }
    </style>
    <body>
        <div class = "container">
            <div class = "row columbia-blue center">
                <span class = "bold large center">Bored@TheButt</span>
            </div>
            <div class = "row columbia-blue center">
                <div class = "col-md-2 center">
                    <span><a href = /users/register>Sign Up</a></span>
                </div>
                <div class = "col-md-2 center">
                    <span><a href = /users/login>Login </a></span>   
                </div>
                <div class = "col-md-2 center">
                    <span><a href = "posts">View Posts </a></span>     
                </div>
                <div class = "col-md-2 center">
                    <span>Butler Secrets</span>     
                </div>
                <div class = "col-md-2 center">
                    <span><a href = "tuns.html">Tuns </a></span> 
                </div>
                <div class = "col-md-2 center">
                    <span>Info</span>           
                </div>
            </div>
            <div class = "row">
                <div class = "col-md-12 center">
                    <span class = "mildly-large bold">The Tunnels</span>
                </div>
            </div>
        </div>

    </body>

</html>